---
const personalImageAlt = "Jorge Bustamante";
---

<article class="profile-article">
  <div class="profile-text">
    <p>
      Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la
      programación con un Amstrad, tenía 10 años. Actualmente estoy <strong
        >liderando equipos de desarrollo en multinacionales</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con Mozilla para el desarrollo de las primeras apps en su
        sistema FirefoxOS</strong
      >. Aunque hoy está desaparecido fue un gran avance en el mundo del
      desarrollo web.
    </p>

    <p>
      Como creador de contenido, <strong
        >cuento con el canal de habla hispana más visto del mundo en la
        categoría de <em>Software & Game Development</em> en Twitch</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
      acceso a contenido de calidad.
    </p>
  </div>

  <img
    src="/me.png"
    width="200"
    height="200"
    alt={personalImageAlt}
    class="profile-image"
    style="object-position: 50% 50%;"
  />
</article>

<style is:global>
  .profile-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; /* equivalente a gap-8 */
    color: #8d9cb5; /* gris oscuro */
  }
p {
   color: #d1d5db; 
}
  @media (prefers-color-scheme: dark) {
    .profile-article {
      color: #d1d5db; /* gris claro */
    }
  }

  .profile-text {
    order: 2;
  }

  @media (min-width: 768px) {
    .profile-article {
      flex-direction: row;
    }
    .profile-text {
      order: 1;
    }
  }

  .profile-text p {
    margin-bottom: 1rem;
  }

  .profile-text p strong {
    color: #facc15; /* amarillo */
    font-weight: normal;
    font-family: monospace;
  }

  @media (prefers-color-scheme: dark) {
    .profile-text p strong {
      color: #fef08a; /* amarillo claro */
    }
  }

  .profile-image {
    order: 1;
    width: 16rem; /* w-64 */
    height: 16rem; /* h-full / aspect-square */
    padding: 0.25rem; /* p-1 */
    object-fit: cover;
    border-radius: 1rem; /* rounded-2xl */
    background-color: rgba(205, 114, 114, 0.2);
    border: 1px solid rgba(215, 128, 128, 0.7); /* ring-1 ring-black/70 */
    transform: rotate(3deg);
  }

  @media (prefers-color-scheme: dark) {
    .profile-image {
      background-color: rgba(232, 226, 201, 0.05); /* amarillo translúcido */
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: 1024px) {
    .profile-image {
      width: 16rem; /* lg:w-64 */
      padding: 0.5rem; /* lg:p-2 */
    }
  }
</style>
