---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Estudiante en 3 ámbitos diferentes",
    company: "en busqueda",
    description:
      "Estudiante a tiempo parcial, con una vida plural demostrando gran capacidad de aprendizaje.",
    link: "a",
  },
  {
    date: "Noviembre 2025",
    title: "CONFECCIÓN Y PUBLICACIÓN DE PÁGINAS WEB",
    company: "Reyes formación",
    description:
      "Intruido por Antonio",
      link: "a",
  },
  {
    date: "Septiembre 2025",
    title: "Formación profecional en Laboratorio Clínico",
    company: "linkia fp",
    description:
      "Experiencia con maquinaria de laboratorio; termocicladores, citómetros de flujo, centrifugadora complejas, etc",
      link: "a",
  },
  {
    date: "Septiembre 2019",
    title: "Soldado",
    company: "RACA 93, Ejército de Tierra",
    description:
      "Disciplina y Sacrificio.",
      link: "a",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol> 
